h1, p, form {
    text-align: center;
}
body {
    background-color: RGBA(33,37,41,var(--bs-bg-opacity,1))!important;
    text-align: center;
    color: #fff!important;
}

h1 {
    padding: 50px;
}

input, select {
    size: 50px;
    margin: auto;
}

.form-group, .form-select {
    display: block;
    margin: auto;
    width: 50%;  
}

.form-check-input, .form-check-label {
    padding-right: 10px;
}
.btn-primary {
    margin: 10px;
}
#box > div {
    display: inline-block;
}
#formdiv {
    background-color: whitesmoke;
    color: RGBA(33,37,41,var(--bs-bg-opacity,1))!important;
    margin-bottom: 20px;
}
.slidecontainer,.slider {
    width: 50%;
    margin: auto;
}
#genderdiv {
    margin-bottom: 5px;
}
#titanic {
    opacity: 0.5;
    width: 100%; 
    height: 337px; 
    object-fit: none;
    object-position: 30% 75%;
}